[submodule "vendor/asset-packer"]
	path = vendor/asset-packer
	url = git@github.com:ShadesAndGrays/Asset-Packer.git
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/rlImGui"]
	path = vendor/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
